@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,400italic);
.roboto {
	font-family: Roboto, sans-serif;
	font-weight: 400
}
.robotoMedium {
	font-family: Roboto, sans-serif;
	font-weight: 500
}
.robotoItalic {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-style: italic
}
body {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	color:#033f61;
}
/******************* Gerneics */ 
body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
}
.btn, .btn--secondary, button.btn, input.btn {
	background: #fca427;
	background: -moz-linear-gradient(top, #fca427 0, #f37e00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fca427), color-stop(100%, #f37e00));
	background: -webkit-linear-gradient(top, #fca427 0, #f37e00 100%);
	background: -o-linear-gradient(top, #fca427 0, #f37e00 100%);
	background: -ms-linear-gradient(top, #fca427 0, #f37e00 100%);
	background: linear-gradient(to bottom, #fca427 0, #f37e00 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fca427', endColorstr='#f37e00', GradientType=0);
	font-family: HelveticaNeue-Bold, "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.15);
	border-radius: 3px;
	text-decoration: none;
	padding: .8em 2em;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	-webkit-transition: background .4s;
	-moz-transition: background .4s;
	-ms-transition: background .4s;
	-o-transition: background .4s;
}
.btn:hover, button.btn:hover {
	background: #fcb856;
	color: #fff;
	background: -moz-linear-gradient(top, #fcb856 0, #f38d20 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcb856), color-stop(100%, #f38d20));
	background: -webkit-linear-gradient(top, #fcb856 0, #f38d20 100%);
	background: -o-linear-gradient(top, #fcb856 0, #f38d20 100%);
	background: -ms-linear-gradient(top, #fcb856 0, #f38d20 100%);
	background: linear-gradient(to bottom, #fcb856 0, #f38d20 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcb856', endColorstr='#f38d20', GradientType=0)
}
.btn:hover, .btn:focus, .btn.focus {
	color: #fff;
}
.btn span {
	top: 3px;
}
/******************* Header */ 
header {
	padding: 30px 0 15px 0;
	background: #128ec3;
	background: -moz-linear-gradient(-72deg, #128ec3 0, #046a9a 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #128ec3), color-stop(100%, #046a9a));
	background: -webkit-linear-gradient(-72deg, #128ec3 0, #046a9a 100%);
	background: -o-linear-gradient(-72deg, #128ec3 0, #046a9a 100%);
	background: -ms-linear-gradient(-72deg, #128ec3 0, #046a9a 100%);
	background: linear-gradient(135deg, #128ec3 0, #046a9a 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#128ec3', endColorstr='#046a9a', GradientType=1);
}
header .navbar-nav.nav li {
	float: left;
}
header .navbar-default .navbar-nav.nav li a {
	color: #67a9c7;
	color: rgba(255,255,255,.4);
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-ms-transition: color .4s;
	-o-transition: color .4s;
	font-size: 16px;
}
header .navbar-nav.nav li a:hover {
	color: #fff;
}
header .navbar-default {
	background-color: transparent;
	border: none;
	float: right;
}
header .header-meta {
	max-width: 1064px;
	margin: 0 auto;
}
.header-title {
	padding: 10px 0;
}
.header-title h2 {
	font-size: 28px;
	color: #fff;
}
.header-title div.lead {
	padding: 0 90px;
	color: #fff;
	font-size: 16px;
}
.page-logo {
	width: 115px;
	height: 21px;
	margin-top: 1em;
}
.navbar {
	margin-bottom: 0px;
}
/******************* Body - Front Pages */
/* Watch the Series */
.adjusted.container {
	max-width: 750px;
}
.watch-series {
	padding: 45px 15px;
}
/* Front Lists */
.front-lists {
	margin-bottom: 45px;
}
.front-lists div {
	margin-top: 45px;
}
.front-lists .front-icon {
	float: left;
}
.front-lists .list-container {
	margin: 0 0 0 65px;
}
.front-lists h3 {
	margin-top: 0;
	color: #033f61;
	font-size: 21px;
	font-weight: normal;
	margin-bottom: 15px;
}
.front-lists ul li a {
	color: #3092c1;
	font-size: 16px;
	line-height: 27px;
}
.front-lists ul li span {
	color: #818789;
}
/******************* Body - Back Pages */
/* Sidemenu */
.aside {
	max-width: 250px;
}
aside .side-menu {
	margin-bottom: 20px;
}
aside h4, aside .current a {
	font-weight: bold;
}
aside li {
	line-height: 26px;
}
aside li a {
	font-size: 14px;
	color: #464545;
}
aside li a:hover {
	color: #3092c1;
}
/* Content */
.body-container {
	padding: 20px 0 0 0;
}
.watch-screencast {
	padding: 0 0 25px 0;
}
.vimeo-video {
	display: block;
	margin: 15px 0;
}
.next {
	padding: 15px 0 25px 0;
}
.next span:first-child {
	font-weight: bold;
}
/* Code Viewer */
code {
	background-color: #e0e1e1;
	color: inherit;
}
/******************* Footer */
footer {
	padding: 20px 0;
}
.pre-footer {
	background: #023856;
	background: -moz-linear-gradient(-45deg, #023856 0, #13466c 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #023856), color-stop(100%, #13466c));
	background: -webkit-linear-gradient(-45deg, #023856 0, #13466c 100%);
	background: -o-linear-gradient(-45deg, #023856 0, #13466c 100%);
	background: -ms-linear-gradient(-45deg, #023856 0, #13466c 100%);
	background: linear-gradient(135deg, #023856 0, #13466c 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#023856', endColorstr='#13466c', GradientType=1);
	overflow: hidden;
	margin-bottom: 50px;
}
.pre-footer .cta {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 2.75em;
	padding-bottom: 2.75em;
}
.cta--flex-center {
	text-align: center;
}
.pre-footer .cta--flex-center .cta__eq {
	padding-top: .5em;
	padding-bottom: .5em;
}
.cta--flex-center .cta__eq {
	display: inline-block;
	position: relative;
	padding: 0 30px;
	vertical-align: middle;
}
.cta__primary {
	text-align: right;
	font-size: 24px;
	color: #fff;
}
.cta--flex-center .cta__eq:first-of-type:after {
	content: ' ';
	display: block;
	width: 1px;
	position: absolute;
	left: 100%;
	top: 0;
	bottom: 0;
	background: #55a6c9;
}
footer .cta {
	position: relative;
	margin-top: 2em;
	margin-bottom: 2em;
	color: #fff;
	font-family: Roboto, sans-serif;
	font-weight: 400;
}
footer ul.nav> {
	font-size: 16px;
	color: #033f61;
}
footer .nav>li>a {
	position: relative;
	display: block;
	padding: 3px 0px;
	font-size: 14px;
	color: #818789;
}
footer .nav>li>a:hover {
	background: none;
	color: #3092c1;
	text-decoration: underline;
}
footer .copyright li {
	list-style: none;
}
footer ul nav .copyright {
	font-size: 16px;
	color: #818789;
}
.footer-logo {
	width: 100px;
	height: 18px;
	margin-bottom: .75em;
}
ul.footer-social {
	margin: 10px 0 0 0;
	padding: 0;
}
.footer-social li {
	float: left;
}
.footer-social li a {
	display: block;
	width: 30px;
	height: 20px;
	padding: 0;
	background-image: url(../img/social-sprite.svg);
	background-position: center bottom;
	background-repeat: no-repeat;
}
.footer-social li a.social-icon--twitter {
	background-position: left bottom
}
.footer-social li a.social-icon--twitter:hover {
	background-position: left top
}
.footer-social li a.social-icon--facebook {
	background-position: center bottom
}
.footer-social li a.social-icon--facebook:hover {
	background-position: center top
}
.footer-social li a.social-icon--linkedin {
	background-position: right bottom
}
.footer-social li a.social-icon--linkedin:hover {
	background-position: right top
}
/******************* Other Elements */
#site-navigation-cs {
	bottom: 0;
	float: right;
	z-index: 999;
	right: 10px;
	position: fixed;
	background: rgba(0,0,0,0.3);
	padding: 10px 20px;
	border-radius: 3px 3px 0 0;
}
#site-navigation-cs a {
	color: #FFF;
}
#site-navigation-cs img {
	width: 14px;
	margin-right: 10px;
}

/******************* Media Queries */

@media (max-width: 992px) {
footer .col-md-4, footer .col-md-2 {
	margin: 0 0 20px 0;
	text-align: center;
}
footer ul.footer-social {
	margin: 10px auto 0 auto;
	width: 100px;
}
}

@media (max-width: 992px) {
.front-lists {
	margin: 0 auto;
	width: 50%;
}
.front-lists .col-md-6 {
	margin-bottom: 25px;
}
}

@media (max-width: 750px) {
.front-lists {
	width: 60%;
}
.quickstarts div.lead {
	padding: 0 50px;
}
}

@media (max-width: 620px) {
.front-lists {
	width: 80%;
}
}

@media (max-width: 475px) {
.front-lists {
	width: 100%;
}
}
