<footer>
    <div class="container">
        <div class="row footer-quick-menu">
            <div class="col-md-4 text-center"> <a href="https://www.nexmo.com/blog">Resources</a> </div>
            <div class="col-md-4 text-center"> <a href="https://www.nexmo.com/customers/">Customers</a> </div>
            <div class="col-md-4 text-center"> <a href="https://www.nexmo.com/company/us/">Company</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-menu">
        <div class="row">
            <div class="col-md-4">
                <ul class="nav">
                    <li><a href="https://www.nexmo.com/blog">Blog</a></li>
                    <li><a href="https://www.nexmo.com/resources/webinars/">Webinars</a></li>
                    <li><a href="https://labs.nexmo.com/">Labs</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="nav">
                    <li><a href="https://www.nexmo.com/customers/">Trust Nexmo</a></li>
                    <li><a href="https://www.nexmo.com/customers/#case">Case Studies</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="nav">
                    <li><a href="https://www.nexmo.com/company/us/">About Nexmo</a></li>
                    <li><a href="https://www.nexmo.com/company/press/">Press</a></li>
                    <li><a href="https://www.nexmo.com/events/">Events</a></li>
                    <li><a href="https://www.nexmo.com/company/careers/">Careers</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row social-privacy">
            <div class="col-md-6">
                <ul class="nav social">
                    <li><a href="http://www.facebook.com/Nexmo"><i class="fa fa-facebook-square"></i> <span>Facebook</span></a></li>
                    <li><a href="http://twitter.com/nexmo"><i class="fa fa-twitter-square"></i> <span>Twitter</span></a></li>
                    <li><a href="https://www.linkedin.com/company/nexmo"><i class="fa fa-linkedin-square"></i> <span>LinkedIn</span></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="nav privacy">
                    <li><a href="https://www.nexmo.com/terms-use/">Terms of Use</a></li>
                    <li><a href="https://www.nexmo.com/privacy-policy/">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="row copywright">
            <div class="col-md-6">
                <p>© 2014 Nexmo - All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
