<footer>
  <div class="container-fluid pre-footer">
    <div class="row">
      <div class="col-md-12">
<div class="cta cta--flex-center">
			<div class="cta__eq cta__primary">
				<span class="block">Start using Nexmo today</span>
			</div>
			<div class="cta__eq cta__secondary">
			<a href="https://dashboard.nexmo.com/register" class="btn">Try it for free</a>
			</div>
		</div>
</div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-4">
      <ul  class="nav copyright">
        <li><img src="/{{webpath}}/img/Nexmo_314x86_color.svg" alt="nexmo" class="footer-logo"></li>
        <li>© 2017 Nexmo Inc.</li>
        <li>
          <ul class="footer-social">
            <li> <a href="https://twitter.com/nexmo" class="social-icon--twitter" target="_blank"> <span class="hide">Twitter</span> </a> </li>
            <li> <a href="https://www.facebook.com/Nexmo" class="social-icon--facebook" target="_blank"> <span class="hide">Facebook</span> </a> </li>
            <li> <a href="https://www.linkedin.com/company/nexmo" class="social-icon--linkedin" target="_blank"> <span class="hide">Linkedin</span> </a> </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="nav">
        <li> Products & Pricing </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/products/sms">SMS API</a> </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/products/voice">Voice API</a> </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/products/verify">User Authentication</a> </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/products/number-insights">Chat App API</a> </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/products/phone-numbers">Virtual Numbers</a> </li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="nav">
        <li> Get To Know Us </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/why-nexmo">Why Nexmo</a> </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/about-nexmo">About Nexmo</a> </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/careers">Careers</a> </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/leadership/">Leadership</a> </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/press">Press</a> </li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="nav">
        <li> Resources </li>
        <li> <a hreflang="en" href="https://docs.nexmo.com">Docs</a> </li>
        <li> <a hreflang="en" href="https://help.nexmo.com/hc/en-us">Support</a> </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/blog">Blog</a> </li>
        <li> <a hreflang="en" href="https://status.nexmo.com/">Status</a> </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/use-cases">Use Cases</a> </li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="nav">
        <li> Legal </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/terms-of-use">Terms of Use</a> </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/privacy-policy">Privacy policy</a> </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/acceptable-use">Acceptable Use</a> </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/cookie-policy">Cookie Policy</a> </li>
        <li> <a hreflang="en" href="https://www.nexmo.com/security-information">security-information</a> </li>
      </ul>
    </div>
  </div>
  </div>
</footer>