<head>
    <!-- Meta Information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Nexmo Quickstarts{{#title}} - {{title}} {{/title}}</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/{{webpath}}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/{{webpath}}/css/nexmo.css">
    <link rel="stylesheet" type="text/css" href="/{{webpath}}/css/font-awesome.min.css">
</head>