<header>
    <div class="container-fluid header-meta">
        <h1 class="hide">Nexmo</h1>
        <a href="https://nexmo.com"><img src="/{{webpath}}/img/logo.png" alt="Nexmo.com" width="168" height="31" class="logo"></a>
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <nav id="navbar-collapse" class="pull-right collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/{{webpath}}/">Quickstarts</a></li>
                    <li><a href="https://nexmo.com">Nexmo.com</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row text-center header-title">
            <div class="col-md-12">
                <h2 id='title'>{{^title}} Nexmo API Quickstarts {{/title}} {{#title}} {{title}} {{/title}}</h2>
                <!-- <div class="lead">{{lead}}</div> -->
            </div>
        </div>
    </div>
</header>