<head>
    <!-- Meta Information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Nexmo Quickstarts{{#title}} - {{title}} {{/title}}</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/{{webpath}}/css/bootstrap.min.css">
    <link rel="stylesheet" id="lato-css" href="//fonts.googleapis.com/css?family=Lato%3A100%2C300%2C400%2C700%2C900%2C100italic%2C300italic%2C400italic%2C700italic%2C900italic&amp;ver=4.1" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="/{{webpath}}/css/nexmo.css">
    <link rel="stylesheet" type="text/css" href="/{{webpath}}/css/font-awesome.min.css">
</head>
